
:root{
    --bg-primary: #7B68EE; 
    --bg-secondory:whitesmoke;
    --font-big:5rem;
    --font-medium:3rem;
    --font-small:2rem;
    --font-color1:white;
    --font-color2: black;
    --margin:20px ;
    --padding:20px;
    --border: 100px black;
    --shadow:2px 2px 4px darkgray;
    --shadow2:1px 1px 1px lightgrey;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: cornflowerblue;
  
}

nav{
    
    display: flex;
    justify-content: flex-end;
    /* background-color: var(--bg-secondory); */
    height: 280px;
    

    img{
        /* position: fixed;
        display: grid; */
        position:absolute;
        left: 30px;
        width: auto;
        padding: 8px;
        
    }

    h2{
        
        position: absolute;
        left: 25vw;
        top: 10vh;
        font-family: Arial, Helvetica, sans-serif;
        font-size: var(--font-big);
        color: #36454F;
    }

    li{
        display: inline;
        padding: 10px;
        justify-content: space-around;
        color: #000080;
        right: 10vw;
    }
    li:hover{
        font-size: larger;
        color: green;
    }

    
}



#main{
    justify-content: center;
    /* padding: 20px; */
    font-size: var(--font-medium);
    /* position: absolute; */
    /* top: 30vh; */
    display: block;
    margin-block-start: 100px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    color: #228B22;
}
#second{
    color: ghostwhite;
    justify-content: center;
    /* padding: 20px; */
    font-size: var(--font-small);
    display: block;
    margin-block-start: 00px;
    margin-block-end: 20px;
    /* top: 30vh; */
}
.box{
    display: block  ;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 20px; */
    /* font-size: var(--font-medium); */

    #Discover{
        justify-content: center;
    /* padding: 20px; */
    font-size: 1rem;
    /* display: block; */
    margin-block-start: 40px;
    margin-block-end: 20px;
    background-color:blanchedalmond;
    color: whitesmoke;
    }


}

.box2{
    margin-block-start: 20px;
    display: block  ;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.one{
    margin-block-start: 20px;
    font-size: 2rem;
    justify-content: center;
    margin-block-start: 60px;
    margin-block-end: 20px;

}

.two{
    font-size: larger;
    margin-block-end: 40px;
}

.box3{
    
    display: flex;
    justify-content: space-around;

    .boxone{
        background-color: azure;
        height: 48vh;
        width: 16vw;

        img{
            position: relative;
            width: 160px;
            height: 160px;
            top: 100px;
        }
    }
    .boxtwo{
        background-color: azure;
        height: 48vh;
        width: 16vw;

        img{
            position: relative;
            width: 160px;
            height: 160px;
            top: 100px;
        }
    }
    .boxthree{
        background-color: azure;
        height: 48vh;
        width: 16vw;

        img{
            position: relative;
            width: 160px;
            height: 160px;
            top: 100px;
        }
    }
    .boxfour{
        background-color: azure;
        height: 48vh;
        width: 16vw;

        img{
            position: relative;
            width: 160px;
            height: 160px;
            top: 100px;
        }
    }
}

.box4{
    
    display: flex;
    justify-content: space-around;

    .textone{
        /* background-color: azure; */
        height: 48vh;
        width: 16vw;
    }
    .texttwo{
        /* background-color: azure; */
        height: 48vh;
        width: 16vw;
    }
    .textthree{
        /* background-color: azure; */
        height: 48vh;
        width: 16vw;
    }
    .textfour{
        /* background-color: azure; */
        height: 48vh;
        width: 16vw;
    }
}

.grid-container{
    margin-block-start: 20px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: beige;
    
}

.grid-1{
    margin-block-start: 60px;
    margin-inline-start: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 1px dotted solid gray;
    /* height: 80vh;
    width: 50vw; */
    width: 40vw;
    height: 75vh;
    

    img{
        position: relative;
        /* height: 40vh;
        width: 40vw; */

    }

}

.grid-2{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    margin: 10px;
    margin-inline-end: 100px;
    color:crimson;

    h2{
        font-size: 3rem;
    }

    p{
        font-size: larger;
       
    }
}

.page1{
    background-image: url(asset/out/pexels-28488111-7945660.jpg);
    /* width: 100vw; */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#discover{
    /* margin-top: 20px; */
    padding: 5px;
    background-image: url(asset/out/pexels-shvetsa-3771639.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;


}

.grid-container{
    padding: 5px;
    background-image: url(asset/out/pexels-anastasia-shuraeva-5705061.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* 
#D8EFD3
#95D2B3
#55AD9B
#F1F8E8 */